$color-blue: #041464;
$color-blue-2: #030f4e;
$color-azure: #1d89ff;
$color-error: #e11584;
$color-azure-light: #c9e4ff;

$padding-side-desktop: 9vw;
$padding-side-mobile: 5vw;

$bshadow: rgba(62, 57, 107, 0.3) 0px 6px 16px 0px;
$color-brand-key: #19d66b;
$color-brand-regular: #21b36c;
$color-brand-hover: #1aab77;
$color-gray-1: #f3f7f6;
$color-gray-3-alpha-80: rgba(94, 102, 102, 0.8);
$color-black: #000;
$color-white: #fff;
$color-dark: #141414;
$color-bg-nav: #171717;
$color-bg-1: #1f1f1f;
$color-bg-2: #282828;
